<div class="listing">
  <h1 style="text-align: center">TV Shows Movies </h1>

  <app-skeleton *ngIf="loader"></app-skeleton>
  <div class="row">
    <div class="col-md-2 listing__items" *ngFor="let movie of topRated ">
      <div [routerLink]="['/tv-show-detail/', movie.id]">
        <div class="listing-item-style">
          <div class="overlay">
            <div class="hover"> PLAY NOW</div>
          </div>
          <img *ngIf="movie?.poster_path" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}">
          <img *ngIf="!movie?.poster_path" src="assets/images/default-movie.png">
          <h6>{{ movie.title }}</h6>
          <p class="rate"><span>{{movie?.vote_average}}</span> /10</p>
          <p class="year"><span>{{movie.release_date | date: 'yyyy'}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




