

<mat-toolbar>
  <a class="navbar-brand" [routerLink]="['/']">Movies</a>
  <span class="example-spacer"></span>
  <ul class="header-menu ">
    <li class="header-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li class="header-item">
      <a class="nav-link" [routerLink]="['/movies']" routerLinkActive="router-link-active">Movies</a>
    </li>
    <li class="header-item">
      <a class="nav-link" [routerLink]="['/tv-shows']" routerLinkActive="router-link-active">TV Shows</a>
    </li>
    <li class="header-item">
      <a class="nav-link" [routerLink]="['/categories']" routerLinkActive="router-link-active">Categories</a>
    </li>
  </ul>
</mat-toolbar>






