<h1 style="text-align: center">Cast</h1>
<app-skeleton *ngIf="loader"></app-skeleton>
<p-carousel [value]="casts" [numVisible]="6" [numScroll]="4" [responsiveOptions]="responsiveOptions"  [circular]="false">
  <ng-template let-cast pTemplate="item">
    <div class="listing-item-style" [routerLink]="['/casts/', cast.id]">
      <div class="overlay">
        <div class="hover">Details</div>
      </div>
      <img *ngIf="cast.profile_path"
           src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{cast?.profile_path}}">
      <img *ngIf="!cast?.profile_path" src="assets/images/default-movie.png">
      <h6>{{ cast?.name }}</h6>
    </div>
  </ng-template>
</p-carousel>
